.form-group
  %label{for: :crime} Crime category
  %select.form-control{name: :crime}
    - crime_categories.each do |crime|
      - if params[:crime] == crime
        %option{value: crime, selected: 'selected'}= crime.humanize
      - else
        %option{value: crime}= crime.humanize
