= render layout: 'map/map_with_date' do
  .form-group
    %label{for: :amenity} Amenity type
    %select.form-control{name: :amenity}
      - Amenities.get_amenities_types.each do |type|
        - if params[:amenity] == type
          %option{value: type, selected: 'selected'}= type.humanize
        - else
          %option{value: type}= type.humanize

  = render partial: 'map/crime_select', locals: {crime_categories: @crime_categories}

  .form-group
    %label{for: :distance} Distance from amenity
    %input.form-control{name: :distance, type: :number, step: 5, min: 0, value: params[:distance]}

