%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse
      %ul.nav.navbar-nav

        %li
          = link_to 'Crime around amenities', root_path

        %li
          = link_to 'Police route to crime', police_path_path

        %li
          = link_to 'Districts', region_heatmap_path

        %li
          = link_to 'Crime heatmap', crime_heatmap_path
